

body {
    text-align: center;
    padding-top: 20px;
    font-family: 'Khand', sans-serif;
    font-weight: 700;
    background-color: #31102F;
    
}

html,
body {	
	margin: 0;
    padding: 0;
}

.bg-gradient {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background: radial-gradient(ellipse at center, rgba(80,50,20,1) 0%, rgba(30,30,35,1) 100%);
}

h1, h2, h3, h4 {
    font-family: 'Khand', sans-serif;
    font-weight: 700;
    margin-left: 8px;
    
}

h1 {
    margin-bottom: 25px;
    letter-spacing: 15px;
    font-size: 40px;
    position: relative;
    z-index: 1;
    text-shadow: 8px 10px 8px rgba(0, 0, 0, 0.55);
}

h1 .fa, h1 .fas, h1 .far {
    margin-bottom: 20px;
    margin-top: 20px;
    transition: all 600ms;
    display: block;
    font-size: 80px;
    
}

h1 .fa:hover, h1 .fas:hover, h1 .far:hover {
    transform: rotate(5deg);
}

h1.animated {
    animation-duration: 2000ms;
    animation-delay: 600ms;
}

img {
    max-width: 100%;
}

p {
    margin-bottom: 10px;
    font-size: 20px;
    text-transform: uppercase;
}

.polaroid {
    background-color: #fff;
    margin: auto;
    padding: 15px;
    box-shadow: 10px 10px 37px rgba(0, 0, 0, 0.55);
    animation-duration: 2000ms;
    animation-delay: 1000ms;
}

.paakuva {
    z-index: 11;
    max-width: 100%;
    border: 3px solid;
    margin-bottom: 10px;
}

.kokosivu {
    position: relative;
}

.container {
    position: relative;	
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.28);
    padding-bottom: 70px;
    margin-top: 20px;
    border-radius: 10px;
    overflow: auto;
}

/*.ilkea, .sopo, .neutraali {
    display: none;
}*/

.ilkea h1 {
    color: #fffc4d;
}

.sopo h1 {
    color: #e751e0;
}

.neutraali h1 {
    color: #7c7c6e;
}

.active {
    display: block;
}

#stars {
	display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	width: 100%;
	height: 16rem;
	height: 100%;
	z-index: 1;
}

a {
    color:#ff9a3d;
    -webkit-transition: all 400ms;
    transition: all 400ms;
}

a:hover {
    color: #000;
    text-decoration: none;
}

form input {
    padding: 5px 5px;
    width: 100%;
    border: 2px solid #ddd;
}

@media (min-width: 768px) {
    h1, h2, h3, h4 {
        font-size: 80px;
        margin-left: auto;
    }
    h1 .fa, h1 .fas, h1 .far {
        font-size: 180px;
        vertical-align: -40px;
        display: inline;
        margin-right: 20px;
        margin-top: 40px;
        display: inline-block;
    }
    .polaroid {
    max-width: 65%;
    }

    p {
        font-size: 35px;
    }
    .container {
        margin-top: 60px;
        margin-top: 8vh;
    }
    
}